/node_modules
/public/hot
/public/storage
/public/js/**/*
/public/css/**/*
/public/fonts/vendor
public/mix-manifest.json
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
/phpunit

/storage/app/public/*
!/storage/app/public/users
/storage/app/public/users/*
!/storage/app/public/android_apps
/storage/app/public/android_apps/*

# "default storage items" to not ignore. These are used for default branding, icons, etc.
!/storage/app/public/users/default.png
!/storage/app/public/android_apps/default.png
!/storage/app/public/brand
