.mdc-top-app-bar__title a,
.mdc-button a {
    color: white;
    text-decoration: none;
}

.mdc-button__label {
    display: flex;
    align-items: center;
}

.mdc-custom-card-text {
    padding: 16px;
}
