aside#app-drawer {
    z-index: 10002 !important;

    .mdc-drawer__header {
        display: flex;

        .mdc-drawer__title {
            display: flex;
            align-items: center;
            margin: 10px 0;

            flex: 1;

            text-transform: uppercase;

            img {
                height: auto;
                width: 100%;
            }
        }
    }
}

.mdc-drawer-scrim {
    z-index: 10001 !important;
}
