@import '../../variables';

.page-content-android-apps {
    &#page-android-apps-show.page-content {
        .mdc-card__media {
            height: 350px;
            mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
        }

        .mdc-card__actions {
            > * {
                margin-right: 5px;
            }
        }

        .creator-link {
            display: inline-block;
            color: $secondary;
        }
    }

    &#page-android-apps-create.page-content {
        margin-bottom: 100px;

        form > * {
            margin: 10px 0;
            width: 100%;
        }
    }

    .categories-list {
        height: 200px;
        overflow: auto;

        .mdc-form-field {
            width: 100%;
        }
    }
}

.android_app_card {
    &.android_app_not_approved {
        background-color: #ccc;

        .android_app_not_approved_message {
            padding: 8px;
            margin: 0;

            border-radius: 8px;

            color: #000;
            background-color: $secondary;
        }
    }

    .mdc-card__media-content .card-content {
        background-color: rgba(0, 0, 0, 0.45);

        h2, h3 {
            margin: 0;
            color: #FFFFFF;
        }
    }
}
