@import '../../variables';

.page-content-android-apps {
    &#page-android-apps-show.page-content {
        .mdc-card__media {
            height: 350px;
            mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
        }
    }

    &#page-android-apps-create.page-content {
        margin-bottom: 100px;

        form > * {
            margin: 10px 0;
            width: 100%;
        }
    }
}

.android_app_card {
    .mdc-card__media-content .card-content {
        background-color: rgba(0, 0, 0, 0.45);

        h2, h3 {
            margin: 0;
            color: #FFFFFF;
        }
    }
}
