@import '../../variables';

.page-content-categories {
    &#page-categories-show.page-content {
        .mdc-card__media-content .card-content {
            background-color: rgba(0, 0, 0, 0.45);

            h2, h3 {
                margin: 0;
                color: #FFFFFF;
            }
        }
    }
}
