@import '../../variables';

.page-content-groups {
    &#page-groups-index.page-content {
    }

    .group-card {
        color: $secondary-text;
        background-color: $secondary;
    }

    &#page-groups-create.page-content,
    &#page-groups-edit.page-content {
        margin-bottom: 100px;

        form > * {
            margin: 10px 0;
            width: 100%;
        }
    }

    .list {
        max-height: 200px;
        overflow: auto;

        .mdc-form-field {
            width: 100%;
        }
    }

    &#page-groups-show.page-content {
        .creator-link {
            display: inline-block;
            font-weight: bold;
            color: $primary-text;
        }

        .mdc-list-item {
            padding: 0;
        }

        .user-link {
            height: 100%;
            width: 100%;

            padding: 0 16px;

            display: flex;
            align-items: center;
        }

        .mdc-typography--headline4 {
            margin: 0;
        }
    }
}
