@import './partials/header';
@import './partials/drawer';
@import './partials/footer';
@import './partials/user_menu';

// Sticky footer
body {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

#app-content-wrapper {
    flex: 1;

    display: flex;
    flex-direction: column;
}

.page-content {
    align-self: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.page-content-item {
    align-self: center;

    height: 100%;
    width: 100%;
    max-width: 1200px;
}

img.user-icon {
    border-radius: 50%;
}
