@import './partials/header';
@import './partials/drawer';
@import './partials/footer';
@import './partials/user_menu';

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;

    height: 100vh;
}

#app-content-wrapper {
    flex: 1 0 auto;

    display: flex;
    flex-direction: column;
}

.page-content {
    align-self: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.page-content-item {
    align-self: center;

    height: 100%;
    width: 100%;
    max-width: 1200px;
}

img.user-icon {
    border-radius: 50%;
}

.user-name {
    white-space: nowrap;
}

// Text colors
.color-success { color: $green }
.color-warning { color: $yellow }
.color-error { color: $red }
