@import './partials/header';
@import './partials/drawer';
@import './partials/footer';
@import './partials/user_menu';

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
}

html,
body,
#app-content-wrapper,
.page-content {
    display: flex;
    flex-direction: column;
}

#app-content-wrapper {
    flex: 1 0 auto;

    overflow: auto;

    .page-content {
        width: 100%;

        padding-top: 64px;

        @media all and (max-width: mdc-layout-grid-breakpoint-max(tablet)) {
            padding-top: 56px;
        }

         .page-content-item {
            align-self: center;

            height: 100%;
            width: 100%;
            max-width: 1200px;
        }
    }
}

img.rounded-icon {
    border-radius: 50%;
}

.nowrap {
    white-space: nowrap;
}

// Text colors
.color-success { color: $green }
.color-warning { color: $yellow }
.color-error { color: $red }
