@import '../variables';

#page-dashboard {
    .page-content-item {
        padding-top: 0;
        padding-bottom: 0;
    }

    .mdc-layout-grid__inner {
        margin: 20px;
    }

    .page-title {
        text-align: center;
        font-weight: bolder;
        color: $primary;
    }

    .mdc-card {
        &.card-get-app {
        background-color: $primary;
        color: $primary-text;
    }

        &.card-admin {
            text-align: center;

            background-color: $tertiary;
            color: $primary-text;
        }
    }
}
