@import '../variables';

#page-home {
    .home-section {
        min-height: 50vh;
        padding: 60px 50px;

        display: flex;
        flex-direction: column;
        justify-content: center;

        text-align: center;
    }

    #home-jumbotron {
        width: 100%;
        height: 100vh;

        justify-content: space-between;
        text-align: center;

        color: $primary-text;
        background-color: $primary;

        .home-title {
            font-weight: bolder;
            font-size: 5rem;

            @media all and (max-width: mdc-layout-grid-breakpoint-max(tablet)) {
                font-size: 3.5rem;
            }

            @media all and (max-width: mdc-layout-grid-breakpoint-max(phone)) {
                font-size: 2.5rem;
            }
        }

        .mdc-button {
            margin: 5px;
        }

        #home-jumbotron-scroll-down {
            margin: 20px auto;
            color: $primary;
            background-color: $primary-text;
        }

        #home-jumbotron-button--get-app {
            color: $primary;
            background-color: $primary-text;
        }
    }

    #home-what-is-this {
        color: $secondary-text;
        background-color: $secondary;

        justify-content: space-between;

        .mdc-button {
            margin: 5px;
        }
    }

    .feature-card {
        width: 100%;
    }
}
