@import '../variables';

#page-home {
    .home-section {
        min-height: 50vh;
        padding: 60px 50px;

        display: flex;
        flex-direction: column;
        justify-content: center;

        text-align: center;

        width: 100%;
    }

    #home-jumbotron {
        height: 100vh;

        color: $primary-text;
        background-color: $primary;

        #home-jumbotron-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: center;
        }

        .home-title {
            font-weight: bolder;
            font-size: 5rem;

            @media all and (max-width: mdc-layout-grid-breakpoint-max(tablet)) {
                font-size: 3.5rem;
            }

            @media all and (max-width: mdc-layout-grid-breakpoint-max(phone)) {
                font-size: 2.5rem;
            }
        }

        .mdc-button {
            margin: 5px;
        }

        #home-jumbotron-scroll-down {
            margin: 20px auto;
            color: $primary;
            background-color: $primary-text;
            text-decoration: none;
        }

        #home-jumbotron-button--get-app {
            color: $primary;
            background-color: $primary-text;
        }
    }

    #home-what-is-this {
        color: $secondary-text;
        background-color: $secondary;

        #home-what-is-this-content {
            flex: 1;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: center;
        }

        .mdc-button {
            margin: 5px;
        }
    }

    .feature-card {
        width: 100%;
    }
}
