@import '../variables';

#page-login {
    margin-top: 50px;

    form > * {
        margin: 10px 0;
        width: 100%;
    }

    .errors {
        margin: 10px 0;
        padding: 10px 20px;

        border-radius: 5px;

        background-color: $red;
        color: white;
        font-weight: bold;

        ul {
            margin: 0;
        }
    }

    #login-grid {
        margin-top: 70px;
    }

    #login-card-container,
    #register-card-container {
        display: flex;
    }

    #errors-card {
        width: 100%;
        min-height: inherit;
    }

    #errors-card .mdl-list__item {
        color: $red;
    }

    #login-card,
    #register-card {
        width: 600px;
        min-height: 300px;
    }

    #login-card > .mdl-card__supporting-text,
    #register-card > .mdl-card__supporting-text {
        margin: auto;
    }

    #login-card > .mdl-card__actions,
    #register-card > .mdl-card__actions {
        margin-top: auto;
    }

    .tab {
        text-align: center;
    }

    .tab--invisible {
        display: none;
    }

    .login-required-warning {
        color: $red;
        text-align: initial;
    }
}
